:root {
    --shadow: rgba(80, 60, 40, 0.25);
    --bg-color: #dce5d1;
    --left-color: #f0e9dd;
    --text-color: #94b2a3;
    --body-color: #d8cfc4;
}

body {
    height: 100vh;
    width: 100vw;
}

/* whole box */
.main-box {
    margin-left: 90px;
}

/* login left box */
.left-box {

    background-color: var(--left-color);
}

/* login right box image */
.right-box>img {

    width: 100%;
    height: 100%;
}

.shadow {
    box-shadow: 0px 20px 40px var(--shadow);

}

/* nav bar */
.nav {
    height: 70px;
    background-color: var(--bg-color);
}

/* website icon */
.website-img>img {
    width: 14%;
    height: 143px;

}

/* navbar-height */

.nav-height {
    height: 100px;
}


.website-img {
    width: 14%;
    height: 143px;
}

/* hero section box */

.main-1st-box {
    width: 100%;
    height: 750px;


}
/* home - bg-nav */
.bg {
    background-image: url('./images/hero.png');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 800px;

}

/* shop-bg-nav */
.bg-shop {
    background-image: url('./images/bg_shop.png');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 300px;

}

/* product card */
.product-card{

    width: 98%;
    height: 320px;
}

.product{
width: 40%;
height: 310px;
}

.img-container{

width:100%;
height:200px;
}

.img-container>img{
    width: 100%;
    height: 200px;
}

/* icon-inside product */
.icon{
    margin-left: 110px;
}

/* box inside nav */
.inside-box {
    height: 100px;
    width: 36%;
    /* border: 2px solid red; */
    margin: auto;
    margin-top: 500px;
}

.inside-box-shop{
    height: 100px;
    width: 36%;
    /* border: 2px solid red; */
    margin: auto;
    margin-top: 200px;

}

.chair {
    height: 300px;
    width: 169%;
    border-radius: 10px;

    /* border: 2px solid darkblue; */
}

/* offer cahir img */
.chair>img {
    height: 90%;
}

.left {
    background-color: var(--bg-color);
    width: 196%;
    height: 90%;
    margin-left: 100px;

}

.text {
    color: var(--text-color);
}

.offer-badge {
    margin-left: 70px;
    width: 30%;
    height: 70px;
    border-radius: 50%;
    background-color: var(--text-color);
}

/* big box of offer card */
.offer-card {
    margin-left: 80px;
}

.offer-card {
    transition: transition 0.3 ease-in;
}

.offer-card:hover {

    transform: scale(1.03);
}

/* --cream-color: #f0e9dd; */
/* background-image: url('./images/image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */



/* category-big-box */
.category-box {
    width: 90%;
    height: 500px;
    margin-left: 60px;
}

.living-room {
    height: 490px;
    width: 30%;
    /* border: 2px solid darkblue; */
    background-image: url('./images/living_room.png');
    background-size: cover;
    box-shadow: 5px 5px 5px black;
}

.bed-room {
    height: 490px;
    width: 30%;
    /* border: 2px solid darkblue; */
    background-image: url('./images/bed_room.png');
    background-size: cover;
    box-shadow: 5px 5px 5px black;
}


.decor {
    height: 490px;
    width: 30%;
    /* border: 2px solid darkblue; */
    background-image: url('./images/decor.png');
    background-size: cover;
    box-shadow: 5px 5px 5px black;

}
.living-room{
    transition: transform 0.3s ease-in-out;
}
.living-room:hover{
    transform: scale(1.02);
}

.bed-room{
    transition: transform 0.3s ease-in-out;
}
.bed-room:hover{
    transform: scale(1.02);
}

.decor{
    transition: transform 0.3s ease-in-out;
}
.decor:hover{
    transform: scale(1.02);
}

.big-card{
    width: 97%;
    height: 900px;
}










